@import "./scales.css";

body {
  font-size: 16px;
  line-height: var(--lineHeight-2);
  font-family: var(--fontFamily-sans);
  font-weight: var(--fontWeight-400);
  color: var(--color-primary);
}

@media (min-width: var(--breakpoint-0)){
  body {
    font-size: 20px;
  }
}

@media (min-width: var(--breakpoint-1)){
  body {
    font-size: 24px;
  }
}

@media (prefers-color-scheme: dark) {
 :root {
  --color-primary: #F9FAFB;
  --color-secondary: #ADB9C2;
  --color-accent-light: #FF7E70;
  --color-accent-default: #FF5447;
  --color-accent-dark: #D93732;
  --color-focus: #47A6FF;
  --color-background: #101010;
  --color-border: #292929;
 }
}
