@import "./scales.css";

body {
  background-color: var(--color-background);
  font-size: 1rem;
  line-height: var(--lineHeight-2);
  font-family: var(--fontFamily-sans);
  font-weight: var(--fontWeight-400);
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  color: var(--color-primary);
}

@media (min-width: 600px){
  body {
    font-size: 1.25rem;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 1.5rem;
  }
}
