@import "./normalize.css";
@import "./scales.css";
@import "./utils.css";

/* Body
   ========================================================================== */

body {
  background-color: var(--color-background);
  font-size: 1rem;
  line-height: var(--lineHeight-2);
  font-family: var(--fontFamily-sans);
  font-weight: var(--fontWeight-400);
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  color: var(--color-primary);
}

@media (min-width: 600px){
  body {
    font-size: 1.25rem;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 1.5rem;
  }
}

/* Links
   ========================================================================== */

a {
  color: var(--color-accent-default);
  transition: all 80ms ease-in;
  outline: none;
  border-radius: var(--borderRadius-1);
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
  text-underline-position: under;
}

a:focus {
  box-shadow: 0 0 0 2px var(--color-focus);
}

/* Typography
   ========================================================================== */

h1 {
  font-size: var(--fontSize-6);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h1, h2, h3, h4 {
  line-height: var(--lineHeight-1);
  font-weight: var(--fontWeight-600);
  margin-top: var(--space-0);
  margin-bottom: var(--space-1);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-0);
}

p {
  font-size: var(--fontSize-1);
}

h5, h6, p {
  line-height: var(--lineHeight-2);
  font-weight: var(--fontWeight-400);
  margin-top: var(--space-0);
  margin-bottom: var(--space-3);
}

ul, ol {
  margin-top: var(--space-0);
  margin-bottom: var(--space-3);
  padding: 0px var(--space-3);
}

li {
  padding: 0px var(--space-2);
  margin-bottom: var(--space-2);
}

.listStyle-none > li {
  padding: var(--space-0);
  margin: var(--space-0);
}
