:root {
  /* Color */
  --color-primary: #1a1f23;
  --color-secondary: #5f7181;
  --color-accent-light: #8870ff;
  --color-accent-default: #6047ff;
  --color-accent-dark: #4332d9;
  --color-focus: #cf1726;
  --color-background: #f9fafb;
  --color-border: #e7ebee;

  /* Space */
  --space-0: 0em;
  --space-1: 0.25em;
  --space-2: 0.5em;
  --space-3: 1em;
  --space-4: 2em;
  --space-5: 4em;
  --space-6: 8em;

  /* Break Point */
  --breakpoint-0: 40rem;
  --breakpoint-1: 56rem;
  --breakpoint-2: 64rem;

  /* Border Radius */
  --borderRadius-0: 0px;
  --borderRadius-1: 2px;
  --borderRadius-2: 4px;
  --borderRadius-3: 8px;
  --borderRadius-4: 16px;
  --borderRadius-5: 32px;
  --borderRadius-6: 99px;

  /* Font Family */
  --fontFamily-sans: 
      system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif;
  --fontFamily-mono: Menlo, monospace;

  /*Font Size */
  --fontSize-0: 0.833em;
  --fontSize-1: 1em;
  --fontSize-2: 1.2em;
  --fontSize-3: 1.44em;
  --fontSize-4: 1.728em;
  --fontSize-5: 2.074em;
  --fontSize-6: 2.488em;

  /*Line Height */
  --lineHeight-0: 1;
  --lineHeight-1: 1.25;
  --lineHeight-2: 1.5;

  /* Font Weight */
  --fontWeight-400: 400;
  --fontWeight-600: 600;
}

@media (prefers-color-scheme: dark) {
 :root {
  --color-primary: #F9FAFB;
  --color-secondary: #ADB9C2;
  --color-accent-light: #FF7E70;
  --color-accent-default: #FF5447;
  --color-accent-dark: #D93732;
  --color-focus: #47A6FF;
  --color-background: #101010;
  --color-border: #292929;
 }
}
