/* Grid
   ========================================================================== */

.navigation {
  --m: var(--space-3);
  --mx: var(--m) * 2;
  display: grid;
  grid-template-columns: calc(var(--m) - var(--space-3)) 1fr calc(
      var(--m) - var(--space-3)
    );
}

.list {
  padding: var(--spacing-0);
  margin: var(--spacing-0);
  list-style: none;
}

.list--menu {
  grid-column: 2/3;
  display: flex;
  flex-flow: row wrap;
}

.menu__item {
  padding: var(--spacing-0);
  margin: var(--spacing-0);
}

.menu__item__link {
  padding: var(--space-2) var(--space-3);
  border-radius: var(--borderRadius-6);
}

.header {
  padding-bottom: var(--space-4);
}

.header--page {
  display: grid;
  grid-template-columns: min(55ch, 100%) 1fr;
}

.page__hero {
  grid-column: 1/3;
}

.page__title {
  grid-column: 1/3;
}

.page__description {
  grid-column: 1/2;
}

.posts__item {
  --display: block;

  display: var(--display);
  grid-template-columns: 1fr 2fr;
  grid-gap: var(--space-3);
  padding: var(--space-0) var(--space-0) var(--space-3);
}

.posts__item__img {
  padding-bottom: var(--space-2);
}

.posts__item__description {
  margin-bottom: var(--space-2);
}

.gtc-body {
  display: grid;
  grid-template-columns: 1fr min(55ch, 100%) 1fr;
}

.gc-body-wide {
  grid-column: 1/4;
}

.gc-body-narrow {
  grid-column: 2/3;
}

.gtc-pagination {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--space-3);
}

.gc-pagination-left {
  grid-column: 1/2;
}

.gc-pagination-right {
  grid-column: 2/3;
}

@media (min-width: 600px) {
  .navigation {
    --m: var(--space-4);
  }

  .posts__item {
    --display: grid;
  }
}

@media (min-width: 1000px) {
  .navigation {
    --m: var(--space-5);
  }
}

@media (min-width: 1500px) {
  .navigation {
    --m: var(--space-6);
  }
}
