/* Grid
   ========================================================================== */

.navigation {
  --m: var(--space-3);

  display: grid;
  grid-template-columns: calc(var(--m) - var(--space-3)) 1fr calc(
      var(--m) - var(--space-3)
    );
}

.list {
  padding: var(--spacing-0);
  margin: var(--spacing-0);
  list-style: none;
}

.list__item {
  padding: var(--spacing-0);
  margin: var(--spacing-0);
}

.list--menu {
  grid-column: 2/3;
  display: flex;
  flex-flow: row wrap;
}

.menu__item__link {
  padding: var(--space-2) var(--space-3);
  border-radius: var(--borderRadius-6);
}

.header {
  padding-bottom: var(--space-4);
}

.header--page {
  display: grid;
  grid-template-columns: min(55ch, 100%) 1fr;
}

.page__hero {
  grid-column: 1/3;
}

.page__hero--post {
  /*Duplication*/
  grid-column: 1/3;
  margin-bottom: var(--space-3);
}

.page__title {
  grid-column: 1/3;
}

.page__description {
  grid-column: 1/2;
}

.posts__item {
  --display: block;

  display: var(--display);
  grid-template-columns: 1fr 2fr;
  grid-gap: var(--space-3);
  padding: var(--space-0) var(--space-0) var(--space-3);
}

.posts__item__img {
  padding-bottom: var(--space-2);
}

.posts__item__description {
  margin-bottom: var(--space-2);
}

.post {
  display: grid;
  grid-template-columns: 1fr min(55ch, 100%) 1fr;
  margin-bottom: var(--space-3);
  font-family: var(--fontFamily-serif);
}

.post__visual {
  grid-column: 1/4;
  padding: var(--space-3) 0;
}

.post__visual__media {
  margin-bottom: var(--space-2);
}

.post__text {
  grid-column: 2/3;
}

.list--pagination {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--space-3);
}

.pagination__item--prev {
  grid-column: 1/2;
}

.pagination__item--next {
  grid-column: 2/3;
}

@media (min-width: 600px) {
  .navigation {
    --m: var(--space-4);
  }

  .posts__item {
    --display: grid;
  }
}

@media (min-width: 1000px) {
  .navigation {
    --m: var(--space-5);
  }
}

@media (min-width: 1500px) {
  .navigation {
    --m: var(--space-6);
  }
}
