/* Grid
   ========================================================================== */

.navigation {
  --m: var(--space-3);
  --mx: var(--m) * 2;
  display: grid;
  grid-template-columns: calc(var(--m) - var(--space-3)) 1fr calc(
      var(--m) - var(--space-3)
    );
}

.menu {
  grid-column: 2/3;
  display: flex;
  padding: var(--spacing-0);
  margin: var(--spacing-0);
}

.menu__item {
  padding: var(--spacing-0);
  margin: var(--spacing-0);
  list-style: none;
}

.gtc-header {
  display: grid;
  grid-template-columns: min(55ch, 100%) 1fr;
}

.gc-header-center {
  grid-column: 1/3;
}

.gc-header-leanLeft {
  grid-column: 1/2;
}

.gtc-post {
  display: block;
}

.gc-post-figure {
  grid-column: 1/2;
}

.gc-post-header {
  grid-column: 2/4;
}

.gc-post-text {
  grid-column: 2/3;
}

.gtc-body {
  display: grid;
  grid-template-columns: 1fr min(55ch, 100%) 1fr;
}

.gc-body-wide {
  grid-column: 1/4;
}

.gc-body-narrow {
  grid-column: 2/3;
}

.gtc-pagination {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--space-3);
}

.gc-pagination-left {
  grid-column: 1/2;
}

.gc-pagination-right {
  grid-column: 2/3;
}

@media (min-width: 600px) {
  .navigation {
    --m: var(--space-4);
  }

  .gtc-post {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: var(--space-3);
  }
}

@media (min-width: 1000px) {
  .navigation {
    --m: var(--space-5);
  }

  .gtc-post {
    --g: var(--space-3);
  }
}

@media (min-width: 1500px) {
  .navigation {
    --m: var(--space-6);
  }
}
